__pycache__/
*.py[cod]
.pytest_cache/
.idea/
.venv/
.venv-release/
*.egg-info/
build/
dist/
dataset/
images/
runs/
weights/
tokenizer/
offline_wheels/
torch26-cu124-offline.zip
requirements.txt
*.log
.ms_upload_cache
.env
