include LICENSE
include README.md README.zh-CN.md PYPI_README.md START.md
include main.py train_lakun.py predict_lakun.py requirements-train.txt
recursive-include examples *.json
recursive-include lakun *.py LICENSE
prune dataset
prune images
prune runs
prune weights
prune offline_wheels
